@import "ultimate/mixins/css3";

.l-page__flashes {
  position: fixed;
  width: 100%;
  z-index: 9999;
  //@include invert_link_decoration();
  /*white-space: nowrap;*/
  text-align: center;
  .flash {
    /*position: absolute;*/
    padding: 10px;
    top: 0;
    /*height: 50px;*/
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    background: #06c;
    border-bottom: 2px solid #039;
    @include opacity(0.7);
    @include text-shadow(#000, 0 1px 0);
    z-index: 9999;
    a {
      color: #fff;
    }
    &.alert {
      background-color: #c33;
      border-bottom-color: #900;
    }
    &.notice {
      background-color: #393;
      border-bottom-color: #060;
    }
  }
}
